nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #242424;
}

footer {
    margin-top: 0;
    padding-bottom: 0;
    border-top: 2px solid #555;
}

table,
table tr,
table tr td,
table thead th {
    border: 1px solid black;
}
