@model SEDC.App.Models.DomainModels.Pizza
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Promotion</title>
</head>
<body>
    <h1>@ViewBag.Header</h1>
    <p>Pizza: @Model.Name, Size: @Model.Size, Price: @Model.Price$!</p>
</body>
</html>
