@model User

@{
    ViewBag.Title = "User Statistic";
}
    <h1>User Statistic</h1>

    <div>

        <p>First Name:@Model.FirstName </p>
        <p>Last Name:@Model.LastName </p>
        <p>Average Time:@Model.AverageFreeTime hours</p>
        
    </div>
