@model Done
@{
    ViewBag.Title = "Done Tasks";
}
<h1>Done Tasks</h1>

@foreach (var todo in Model.DoneTodos)
{
    <p>Title: @todo.Title</p>
    <p>Description: @todo.Descrition</p>
    <p>Importance Of ToDo: @todo.ImporanceOfTask</p>
    <p>Type Of ToDo: @todo.Type</p>
}

